<div id="<%= dom_id fruit %>">
  <p>
    <strong>Title:</strong>
    <%= fruit.title %>
  </p>

  <p>
    <strong>Headline:</strong>
    <%= fruit.headline %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= fruit.image %>
  </p>

  <p>
    <strong>Gradient dark:</strong>
    <%= fruit.gradient_dark %>
  </p>

  <p>
    <strong>Gradient light:</strong>
    <%= fruit.gradient_light %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fruit.description %>
  </p>

  <p>
    <strong>Energy:</strong>
    <%= fruit.energy %>
  </p>

  <p>
    <strong>Sugar:</strong>
    <%= fruit.sugar %>
  </p>

  <p>
    <strong>Fat:</strong>
    <%= fruit.fat %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= fruit.protein %>
  </p>

  <p>
    <strong>Vitamins:</strong>
    <%= fruit.vitamins %>
  </p>

  <p>
    <strong>Minerals:</strong>
    <%= fruit.minerals %>
  </p>

</div>
